.Navbar{

    height: 100px !important;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

}

.Header{

    color: rgb(165,165,165);
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
    margin-top: 30px;

}